#=============================================================================
#     FileName: .gitignore
#         Desc: 
#       Author: Silevilence
#        Email: silevilence@outlook.com
#     HomePage: http://localhost:8080
#      Version: 0.0.1
#   LastChange: 2017-02-14 14:57:08
#      History:
#=============================================================================
# only add vimrc file(s)
#*
#!_vimrc
dict/
*.swp
*.vim
*.7z
!README*
!.vimrc
Template/
vim80/
vimfiles/
_undodir/
_viminfo
